.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

uni-image {
  display: block;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

uni-view,
uni-image {
  box-sizing: border-box;
}

// 手机状态栏高度
.status_bar {
  height: var(--status-bar-height);
  width: 100%;
  background: #ededed;
  z-index: 100;
}
